@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.saludo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Bebas Neue, cursive;
}