.contenedor{
    overflow-x: auto;
}


.contenedorTable{
    display: flex;
    justify-content: center;
    background-color: rgb(251, 252, 253);
    box-shadow: 15px 17px 17px -10px rgba(0,0,0,0.76);
    -webkit-box-shadow: 15px 17px 17px -10px rgba(0,0,0,0.76);
    -moz-box-shadow: 15px 17px 17px -10px rgba(0,0,0,0.76);

    
}

table{
    margin: 2rem 10rem;
    border-radius: 2rem;
    overflow: auto;
    display: flex;
    justify-content: center;
}

th, td{
    padding: 2rem;
    text-align: center;
}

td{
    color: gray;
}

.m{
    text-align: center;
}

th{
    color: rgb(4, 4, 104);
   
}


.a{
    text-decoration: none;

}

.a:hover{
    box-shadow: 9px 10px 8px -10px rgba(0,0,0,0.82);
    -webkit-box-shadow: 9px 10px 8px -10px rgba(0,0,0,0.82);
    -moz-box-shadow: 9px 10px 8px -10px rgba(0,0,0,0.82);
    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 700px){
    table{
        margin: 2rem 5rem;
    }
}


@media screen and (max-width: 400px){
    table{
        margin: 2rem 2rem;
    }
    .button{
        flex-direction: column;
    }
    .unidades{
        display: none;
    }
}