.contenedorTable{
    display: flex;
    justify-content: center;
    background-color: rgb(251, 252, 253);
    box-shadow: 15px 17px 17px -10px rgba(0,0,0,0.76);
    -webkit-box-shadow: 15px 17px 17px -10px rgba(0,0,0,0.76);
    -moz-box-shadow: 15px 17px 17px -10px rgba(0,0,0,0.76);
 

    
}

table{
    margin: 2rem 10rem;
    border-radius: 2rem;
    overflow: auto;
    display: flex;
    justify-content: center;
}

th, td{
    padding: 2rem;
    text-align: center;
}

td{
    color: gray;
}

th{
    color: rgb(4, 4, 104);
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.m{
    text-align: center;
}

.a{
    text-decoration: none;
    box-shadow: 9px 10px 8px -10px rgba(0,0,0,0.82);
    -webkit-box-shadow: 9px 10px 8px -10px rgba(0,0,0,0.82);
    -moz-box-shadow: 9px 10px 8px -10px rgba(0,0,0,0.82);
    

}

.botones{
    display: flex;
    justify-content: center;
}