@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #24078b; */
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
  }
  
  
  li .abc{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li .abc:hover{
    background-color: #ddd;
  }

 .aa{
  width: 100%;
  text-align: center;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f3f3f3; */
  font-family: 'Dancing Script', cursive;
  color: #f3f3f3;
  background-color: rgb(15, 1, 94);
 }
  
.logo{
  font-size: 4rem;
  cursor:pointer;
  text-decoration: none;
  color: white;
}

.logo:hover{
  color: rgb(0, 247, 255);
}

.burger{
  display: none;
  cursor: pointer;
}

.btnBurger{
  display: flex;
  flex-direction: column;
  height: 55vh;
  transition: 2s;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.burgerItem{
  visibility: visible;
}




@media screen and (max-width: 750px) {
   .item{
    visibility: hidden;
   }
   .burger{
    display:inline;
    width: 20px;
    
   }
   ul{
    display: flex;
    justify-content:flex-end;
    padding-right: 1.5rem;
    transition: 2s;
   }
}

@media screen and (max-width: 400px){
.burger{
  width: 15px;
}
}