
.contador{
    text-align: center;
}

.container-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.boton{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}