.bg{
    padding-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "load load load load";
   
}

body{
    background-color: rgb(175, 199, 237);
}

@media screen and (max-width: 930px) {
    .bg{
        padding-top: 1rem;
        
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}


@media screen and (max-width: 750px) {
    .bg{
        padding-top: 1rem;
        
        grid-template-columns: 1fr 1fr;
        
    }
}

@media screen and (max-width: 400px) {
    .bg{
        padding-top: 1rem;
        
        grid-template-columns: 1fr;
        
    }
}

.load{
    grid-area: load;
    color: white;
}