.bg{
    padding-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "load load load load";
    grid-area: lista;
}

body{
    background-color: rgb(175, 199, 237);
}

.load{
    grid-area: load;
    color: white;
}

@media screen and (max-width: 930px) {
    .bg{
        padding-top: 1rem;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "lista lista lista";
        grid-template-areas: "load load load";
    }

}


@media screen and (max-width: 750px) {
    .bg{
        padding-top: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "lista lista";
        grid-template-areas: "load load";
        
    }
}

@media screen and (max-width: 500px) {
    .bg{
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "lista";
        grid-template-areas: "load";
    }
}

